/*.main-cnt {*/
/*  font-family: "Open Sans", sans-serif;*/
/*  flex-direction: column;*/
/*  position: relative;*/
/*  align-items: center;*/
/*  width: 100vw;*/
/*  display: flex;*/
/*  color: var(--classyBlack);*/
/*  z-index: 300;*/
/*  padding: 6rem;*/
/*  padding-bottom: 15rem;*/
/*  gap: 4rem;*/
/*  justify-content: center;*/
/*}*/
/*.first-cnt h2 {*/
/*  font-size: 72px;*/
/*  max-width: 650px;*/
/*}*/
/*.lower-cnt h2 {*/
/*  max-width: 650px;*/
/*  font-size: 52px;*/
/*  line-height: 60px;*/
/*}*/
/*.first-cnt p {*/
/*  width: 100%;*/
/*  max-width: 650px;*/
/*  font-size: 16px;*/
/*  font-weight: 400;*/
/*  line-height: 30px;*/
/*}*/
/*.first-cnt {*/
/*  max-width: 1400px;*/
/*  width: 100%;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  gap: 2rem;*/
/*}*/

/*.upper-cnt,*/
/*.lower-cnt {*/
/*  display: flex;*/
/*  gap: 2rem;*/
/*}*/
/*.second-cnt {*/
/*  display: flex;*/
/*  width: 100%;*/
/*  align-items: center;*/
/*  justify-content: space-between;*/
/*  max-width: 1400px;*/
/*  gap: 2rem;*/
/*  flex-direction: row;*/
/*}*/
/*.lower-cnt {*/
/*  flex-direction: column;*/
/*}*/
/*.img-career {*/
/*  width: 100%;*/
/*  max-width: 650px;*/
/*  justify-content: center;*/
/*  display: flex;*/
/*  align-items: center;*/
/*}*/
/*.lower-cnt p {*/
/*  width: 100%;*/
/*  max-width: 650px;*/
/*  font-size: 16px;*/
/*  font-weight: 400;*/
/*  line-height: 25px;*/
/*}*/
/*.first-cnt a {*/
/*  font-weight: 600;*/
/*  color: var(--classyBlue);*/
/*}*/
/*.logo-big {*/
/*  width: 400px;*/
/*  height: auto;*/
/*}*/
/*.main-cnt svg {*/
/*  position: absolute;*/
/*  width: 100%;*/
/*  fill: var(--classyBlack);*/
/*  height: 10vh;*/
/*  z-index: -1;*/
/*  bottom: -10px;*/
/*}*/
/*@media (max-width: 1030px) {*/
/*  .main-cnt svg {*/
/*    width: 100%;*/
/*  }*/
/*  .second-cnt {*/
/*    align-items: flex-start;*/
/*  }*/
/*  .logo-big {*/
/*    width: 100%;*/
/*  }*/
/*}*/
/*@media (max-width: 768px) {*/
/*  .main-cnt {*/
/*    padding: 2rem;*/
/*    padding-bottom: 15rem;*/
/*  }*/
/*  .upper-cnt {*/
/*    align-items: center;*/
/*    flex-direction: column;*/
/*  }*/
/*  .first-cnt,*/
/*  .second-cnt {*/
/*    flex-direction: column;*/
/*  }*/
/*  .logo-big {*/
/*    width: 400px;*/
/*  }*/
/*  p {*/
/*    text-align: center;*/
/*  }*/
/*  .first-cnt h2 {*/
/*    text-align: center;*/
/*    font-size: 42px;*/
/*  }*/
/*  .lower-cnt h2 {*/
/*    text-align: center;*/
/*    font-size: 42px;*/
/*  }*/
/*}*/

.careers-page {
  width: 100vw;
  height: 50vh;
  position: relative;
}
.careers-banner {
  position: relative;
  width: 100%;
  height: 100%;

  background: linear-gradient(
      to bottom,
      rgba(30, 30, 30, 0.4),
      rgba(0, 0, 0, 0)
    ),
    url("/images/Banner.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left;

  z-index: -1;
}
.careers-page svg {
  width: 100vw;
  height: 10vh;
  position: absolute;
  bottom: -10px;
}
.careers-text-cnt {
  width: 100%;
  height: 100%;
  font-size: 48px;
  display: flex;
  color: white;
  font-family: "Open Sans", sans-serif;
  z-index: 20;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.careers-text-cnt .upper-txt {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  gap: 20px;
  margin-top: -50px;
}

.careers-text-cnt .upper-txt::before,
.careers-text-cnt .upper-txt::after {
  content: "";
  transition: all 0.2s ease;
  border-radius: 1px;
  width: 40px;
  height: 2px;
  background-color: rgb(255, 255, 255);
}

.careers-text-cnt .lower-txt {
  font-size: 48px;
  font-weight: 500;
  text-transform: uppercase;
}

.photo-page {
  position: relative;
  width: 100vw;
  padding: 6rem 1rem;
  display: flex;
  font-family: "Open Sans", sans-serif;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;

  color: white;

  background-color: var(--classyBlack);
}
.under-text {
  position: relative;
  width: 65%;
  z-index: 20;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}
.under-title {
  font-size: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}
.under-title::before,
.under-title::after {
  content: "";
  transition: all 0.2s ease;
  border-radius: 1px;
  width: 40px;
  height: 3px;
  background-color: var(--classyBlue);
}
.under-paragraph {
  width: 1200px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
.photo-paragraph {
  width: 1000px;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  line-height: 25px;
}
.team-photo {
  border-radius: 20px;
}
.team-page {
  font-family: "Open Sans", sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100vw;
  position: relative;
  padding: 8rem 1rem;
  padding-top: 10rem;
  color: var(--classyBlack);
}
.members-paragraph {
  color: var(--classyBlack);
  padding-top: 2rem;
  width: 1200px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.our-team {
  color: var(--classyBlack);
  display: flex;
  align-items: center;
  gap: 1rem;
  text-transform: uppercase;
  font-size: 44px;
}
.our-team::before,
.our-team::after {
  content: "";
  transition: all 0.2s ease;
  width: 40px;
  height: 3px;
  border-radius: 1px;
  background-color: var(--classyBlue);
}

.team-page > svg {
  position: absolute;
  bottom: -1px;
  fill: var(--classyBlack);
  width: 100vw;
  height: 50px;
}
.team-photo-cnt {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding-top: 7rem;
  padding-bottom: 7rem;
  justify-content: center;
  width: 100%;
  transition: all 0.2s ease;
}

.card-wrapper {
  perspective: 1000px;
  width: 100%;
  max-width: 300px;
  height: 400px;
  position: relative;
  transition: all 0.2s ease;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.4s ease-in-out;
  border-radius: 8px;
}

.card-wrapper:hover .card {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateX(0deg);
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.2s ease;
  background-color: #fff;
}

.card-front {
  z-index: 2;
}

.card-back {
  transform: rotateY(180deg);
}

.card-img-container {
  position: relative;
  width: 100%;
  height: 80%;
  transition: all 0.2s ease;
}

/*@media (max-width: 1024px) {*/
/*  .team-photo-cnt {*/
/*    grid-template-columns: repeat(2, 1fr);*/
/*  }*/
/*}*/

/*@media (max-width: 768px) {*/
/*  .team-photo-cnt {*/
/*    grid-template-columns: repeat(1, 1fr);*/
/*  }*/
/*}*/
.photo-page svg {
  width: 100vw;
  z-index: 10;
  height: 10vh;
  position: absolute;
  transform: rotateX(180deg);
  fill: var(--classyBlack);
  bottom: -9.8vh;
}
.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease;
}

.card-video {
  position: absolute;
  top: 0;
  width: 100%;
  height: 110%;
  object-fit: cover;
  transition: all 0.2s ease;
}

.card-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: var(--classyBlack);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  transition: all 0.2s ease;
}

.card-name {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.2s ease;
}

.card-title {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--classyBlue);
  text-align: center;
  transition: all 0.2s ease;
}

.linkedin-circle {
  position: absolute;
  top: -40px;
  right: 20px;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.3s ease;
  z-index: 3;
}

.linkedin-circle:hover {
  background-color: var(--classyBlue);
}

.linkedin-icon {
  color: var(--classyBlack);
  font-size: 14px;
  height: 14px;
  width: 14px;
  transition: all 0.3s ease;
}

.linkedin-circle:hover .linkedin-icon {
  color: white;
}

.awards-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding-top: 2rem;
}

.award-img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

@media (max-width: 600px) {
  .award-img {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 1030px) {
  .team-photo {
    width: 100%;
  }
  .under-paragraph {
    width: 100vw;
    padding: 0 1rem;
  }
  .photo-paragraph {
    width: 100vw;
    padding: 0 1rem;
  }
  .members-paragraph {
    width: 100vw;
    padding: 0 1rem;
  }
}

@media (max-width: 768px) {
  .photo-page h1 {
    font-size: 40px;
  }
  .our-team {
    padding-bottom: 1rem;
    font-size: 18px;
  }
}
@media (max-width: 500px) {
  .photo-page h1 {
    font-size: 18px;
    width: 100vw;
    padding: 0 1rem;
  }
}
