@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

.footer {
  font-family: "Open Sans", sans-serif;

  padding: 2rem 6rem;
  padding-top: 4rem;
  position: relative;

  width: 100vw;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--classyBlack);
}

.upper-footer {
  width: 100%;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid rgba(255, 255, 255, 0.25) 1px;
}
.upper-footer > .first {
  order: 1;
}
.upper-footer > .second {
  order: 2;
}
.upper-footer > .third {
  order: 3;
}
.upper-footer > .fourth {
  order: 4;
}
.upper-footer > div {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.first {
  width: 25%;
}
.lower-footer {
  padding-top: 1.5rem;
  width: 100%;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.5);
}
.btn-cnt {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.lower-footer span {
  color: var(--classyBlue);
  font-weight: 500;
}
.lower-footer a {
  color: var(--classyBlue);
  font-weight: 500;
}
.footer-logo {
  justify-self: flex-start;
  border-radius: 7px;
  border: solid white 2px;
  width: 125px;
  height: 125px;
  transition: all 0.2s ease-in;
}

.first-text {
  margin-top: 1rem;
  font-weight: 400;
  color: white;
  line-height: 25px;
  font-size: 14px;
  opacity: 50%;
}
.second h2 {
  color: white;
  font-size: 20px;
}
.second a {
  color: white;
  font-size: 14px;
  opacity: 50%;
  transition: all 0.2s ease-in-out;
}
.first {
  width: 300px;
}
.second a:hover {
  color: var(--classyBlue);
  transform: translateX(10px);
  opacity: 1;
}
.socials {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  grid-auto-flow: row; 
  gap: 0.5rem;
  width: 8px;
  transition: all 0.2s ease;
}

.socials a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  color: white;
  transition: all 0.1s ease-in-out;
  border: 2px solid transparent;
  border-radius: 0.5rem;
}

.socials a {
  flex: 0 0 auto;
}

.socials a:hover {
  border-color: white;
  background-color: white;
  border-radius: 0.5rem; 
}

.socials a img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: transparent;
  border-radius: 0.5rem; 
}

.third h2 {
  font-size: 20px;
  color: white;
}
.third a {
  color: white;
  font-size: 14px;
  opacity: 50%;
  transition: all 0.2s ease-in-out;
}
.third a:hover {
  color: var(--classyBlue);
  transform: translateX(10px);
  opacity: 1;
}
.fourth {
  width: 350px;
  display: flex;
  flex-direction: row;
}

.fourth a {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
  width: 100%;
  height: 80px;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  transition: all 0.2s ease-in-out;
}
.fourth a:hover {
  transform: scale(0.95);
}

.fourth h2 {
  font-size: 20px;
  color: white;
}

.fourth .title {
  font-size: 14px;
  color: white;
  font-weight: 400;
}
.fourth .email,
.location {
  font-size: 14px;
  color: var(--classyBlue);
  font-weight: 600;
}
.cnt-icon {
  background-color: white;
  color: var(--classyBlue);
  width: 40px;
  border-radius: 5px;
  height: 40px;
  padding: 8px;
  transition: all 0.2s ease-in-out;
}
.fourth a:hover .cnt-icon {
  color: var(--classyBlue);
}
@media (max-width: 1200px) {
  .footer {
    padding: 2rem 2rem;
  }
  .upper-footer {
    padding-top: 2rem;
  }
}
@media (max-width: 1000px) {
  .upper-footer > .first {
    order: 1;
  }
  .upper-footer > .second {
    order: 3;
  }
  .upper-footer > .third {
    order: 4;
  }
  .upper-footer > .fourth {
    order: 2;
  }
  .upper-footer {
    flex-direction: column;
    gap: 2rem;
  }
  .fourth {
    width: 100%;
  }
  .btn-cnt {
    width: 100%;
    flex-direction: row;
  }

  .first-text {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .upper-footer {
    align-items: flex-start;
    height: auto;
    gap: 2rem;
    padding-bottom: 2rem;
  }
  .btn-cnt {
    flex-direction: column;
  }
  .fourth a {
    display: flex;
    width: 100%;
    padding: 0;
    height: 150px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .cnt {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .location {
    text-align: center;
  }
  .upper-footer > div {
    width: 100%;
  }

  .fourth {
    align-self: flex-start;
  }
  .first-text {
    text-align: left;
  }
  .lower-footer {
    flex-direction: column;

    height: auto;
    align-items: center;
  }
}
