nav {
    background-color: var(--classyBlue);
    width: 100%;
    height: 120px;
    display: flex;
    position: relative;
    align-items: center;
    z-index: 2000;
    padding: 0 5rem;
    margin-left: 0;
}

.nav-bg {
    width: 100%;
    height: 100%;
    left: 0;
    position: absolute;
    z-index: 100;
    background-color: var(--classyBlue);
}

.right {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-flow: row;
    gap: 0.5rem;
    position: relative;
    right: -10%;
    justify-items: center;
    align-items: center;
}

.right a {
    margin: 0 0.5rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    z-index: 4000;
    position: relative;
    height: 110px;
}

.icon {
    width: 32px;
    height: 32px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: 2px solid transparent;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
}

.icon:hover {
    background-color: var(--classyBlack);
    border-color: var(--classyBlack);
}

.social-icon {
    width: 28.8px;
    height: 28.8px;
    object-fit: contain;
}

.link-container {
    padding-left: 7rem;
    width: 100%;
    position: relative;
    z-index: 200;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.middle {
    width: 100%;
    max-width: 500px;
    display: flex;
    position: relative;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    flex-direction: row;
}

.middle a {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;

    align-items: center;
    justify-content: center;
}

.middle a:hover span {
    color: #1a181b;
}

.middle div {
    position: relative;
    display: flex;
    height: 20px;
    overflow: hidden;
    width: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.middle a::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 1.5px;
    width: 0;
    background: white;
    transition: width 0.3s ease-in-out;
}

.middle a:hover::after {
    width: 90%;
}

.hover {
    transform: translateY(25px);
}

.middle div:hover .hover {
    transform: translateY(0px);
}

.middle div:hover .original {
    transform: translateY(-25px);
}

.middle span {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s all ease-in-out;
    position: absolute;
}

.middle-link-dropdown {
    width: 100%;
    position: relative;
}

.middle-link:hover span {
    color: #1a181b;
}

.dropdown-s {
    position: absolute;
    top: 0;
    width: 305px;
    height: 100px;
    z-index: 0;
}

.dropdown-m {
    background-color: #81badf;
    position: absolute;
    top: 35px;
    left: 0px;
    height: 60px;
    width: 200px;
    border-radius: 0;
    padding-left: 0.5rem;
    display: flex;
    flex-direction: column;
    z-index: 3000;
}

.dropdown-m a {
    z-index: 3000;
    color: var(--classyBlack);
    width: 200px;
    gap: 1rem;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    transition: all 0.2s ease-in-out;
}

.dropdown-m a:hover {
    transform: translateX(5px);
}

.dropdown-m a:hover::after {
    width: 0%;
}

.dropdown-m img {
    object-fit: contain;
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.mobile-menu-button {
    display: none;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    position: absolute;
    right: 2rem;
    z-index: 1000;
}

.hamburger {
    width: 65px;
    height: 65px;

    padding: 24px 22px;
    display: flex;
    border-radius: 50%;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.hamburger > span {
    display: block;
    height: 3px;
    position: relative;
    width: 100%;
    background: white;
    border-radius: 3px;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.hamburger > span span {
    position: absolute;
    background: rgb(255, 255, 255);
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    transition: transform 0.2s ease-in-out;
}

.mobile-menu-button.open .hamburger > span:nth-child(1) {
    transform: translateY(10px);
    opacity: 0;
}

.mobile-menu-button.open .hamburger {
    background-color: rgba(255, 255, 255, 0.1);
}

.hamburger > span:nth-child(2) {
    background: none;
}

.mobile-menu-button.open .hamburger > span span:nth-child(1) {
    transform: rotate(-45deg);
}

.mobile-menu-button.open .hamburger > span span:nth-child(2) {
    transform: rotate(45deg);
}

.mobile-menu-button.open .hamburger > span:nth-child(3) {
    transform: translateY(-10px);
    opacity: 0;
}

@media (max-width: 1030px) {
    nav {
        height: 100px;
        padding: 1rem;
    }

    .logo {
        height: 80px;
    }

    .mobile-menu-button {
        display: block;
    }

    .link-container {
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        background-color: var(--classyBlack);
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        /* padding: 2rem 0; */
        padding-left: 0;
        transform: translateY(-100%);
        transition: transform 0.3s ease-in-out;
        z-index: 10;
    }

    .link-container.mobile-open {
        /* height: calc(100vh - 100px); */
        transform: translateY(0);
    }

    .middle {
        flex-direction: column;
        gap: 0;
        max-width: 100%;
        justify-content: center;
    }

    .middle-link {
    }

    .middle a,
    .games-dropdown {
        width: 100%;
        height: 65px;

        justify-content: center;
        align-items: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .middle span {
        font-size: 16px;
    }

    .middle div {
        width: 100%;
    }

    .middle a:hover::after {
        width: 0%;
    }

    .middle a:hover .hover {
        transform: translateY(0px);
    }

    .middle a:hover .original {
        transform: translateY(-25px);
    }

    .dropdown-m {
        width: 100%;
        position: static;
        background-color: white;
    }

    .middle svg {
        left: 49vw;
        position: absolute;
    }

    .dropdown-m a {
        width: 100%;
        padding: 0 1rem;
        justify-content: flex-start;
    }


    @media (max-width: 768px) {
        .right {
            right: 0;
            padding: 1rem 0;
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            grid-auto-flow: column;
            gap: 1rem;
        }

        .dropdown-s {
            display: none;
        }

        .middle a:hover span {
            color: white;
        }

        .middle-link:hover span {
            color: white;
        }

        .nav-logo {
            width: 80px;
            height: 80px;
            object-fit: contain;
        }

        .icon {
            width: 40px;
            height: 40px;
        }

        .social-icon {
            width: 20px;
            height: 20px;
        }
    }
}
